.form {
  display: flex;
  padding: 5px 0;
  gap: 5px;

  .input {
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #000000;
  }

  .button {
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #000000;
    color: #fff;
  }
}
