.messageSent {
  padding: 10px;
  background: #d1eaff;
  border-radius: 10px;
  max-width: 50%;
  margin-left: auto;
  word-wrap: break-word;
}

.messageGet {
  padding: 10px;
  background: #d1ffe0;
  border-radius: 10px;
  max-width: 50%;
  margin-right: auto;
  word-wrap: break-word;
}